<!DOCTYPE html>
<html>
<head>
  <title>Mi Favoritos: a place to keep your favorites</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
  <div class="container">
    <h1 class="pull-left">Mi Favoritos</h1>
    <ul class="unstyled links pull-right">
      <li>
        <% if user_signed_in? %>
          <%= link_to current_user.name, '#' %>
        <% else %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
        <% end %>
      </li>
      <li><%= link_to "Settings", '#' %></li>
    </ul>
  </div>
</header>

<div class="container">
  <div class="content">
    <ul class="nav nav-tabs">
      <% if user_signed_in? %>
      <li><%= active_link_to "My Favorites", my_favorites_path %></li>
      <% end %>
      <li><%= active_link_to "Popular", popular_favorites_path %></li>
      <li><%= active_link_to "Random", random_favorites_path %></li>
      <li class="pull-right search-nav">
        <form class="form-search">
          <input type="text" class="input-medium search-query span4" placeholder="Search your favorites">
        </form>
      </li>
    </ul>
    <div class="content-container">
      <%= yield %>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <ul class="unstyled links pull-right">
      <li><%= link_to "What do you do with my content?", '#' %></li>
      <li><%= link_to "Support", '#' %></li>
    </ul>
  </div>
</footer>

</body>
</html>
